<!doctype html>
<html>
  <head>
      <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
      <script src="/lib/bootstrap.min.js"></script>
      <script src="/lib/socket.min.js"></script>
      <script src="/profileJS.js"></script>

      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>

  <body>
    <div class="container">
      <h1>Profile</h1>

      <p>First Name<br>
        <h6> <%= firstName %></h6>
      </p>

      <p>Last Name<br>
        <h6><%= lastName %></h6>
      </p>

      <p>Gender<br>
        <h6><%= gender %></h6>
      </p>

      <p>Home Address<br>
        <h6><%= homeAddress %></h6>
      </p>

      <p>Hobbies<br>
        <h6><%= hobbies %></h6>
      </p>

      <button type="button" class="btn btn-info" id="editProfile">Edit Profile</button>
    </div>

     <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
