<!doctype html>
<html>
	<head>
	    <script src="/lib/jquery.min.js"></script>
	    <script src="/lib/bootstrap.min.js"></script>
	    <script src="/lib/socket.min.js"></script>
	    <script src="/client.js"></script>

	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <!-- Bootstrap CSS -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	</head>

	<body>
		<div class="container">
			<h1>Welcome, <%= username %></h1>
			<div id="nav" data-username=<%= username %>>
			  <p><button onclick="window.location.href='/protected/profile'" type="button" class="btn btn-outline-info">Profile</button></p>
			  <p><button onclick="window.location.href='/protected/whoIsAround'" type="button" class="btn btn-outline-info">Check Which Neighbors Are Home</button></p>
			  <p><button onclick="window.location.href='/protected/addNeighbor'" type="button" class="btn btn-outline-info">Add Neighbor (<%= request %>)</button></p>
			  <p><button onclick="window.location.href='/protected/contacts'" type="button" class="btn btn-outline-info">Contacts</button></p>
			  <p><button onclick="window.location.href='/protected/messages'" type="button" class="btn btn-outline-info">Messages</button></p>
<!-- 			  <p><a href="/protected/whoIsAround">Check Which Neighbors Are Home</a></p>
			  <p><a href="/protected/addNeighbor">Add Neighbor (<%= request %>)</a></p>
			  <p><a href="/protected/contacts">Contacts</a></p>
			  <p><a href="/protected/messages">Messages</a></p>
 -->
			  <button id="submission" type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="SOS Sent Out" data-content="Your neighbors will help you out ASAP!">SOS</button>

			</div>
			
			<p><button onclick="window.location.href='/logout'" type="button" class="btn btn-outline-dark">Log Out</button></p>
		</div>

		 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

	</body>
</html>

